<header class="main-header">
    <a routerLink="/home" style="text-decoration: none;">
        <div class="logo-container">
            <img src="logo.png" alt="ProjectFlow Logo" class="logo">
            <h1 class="logo-text">ProjectFlow</h1>
        </div>
    </a>
    <nav class="main-nav">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a routerLink="/sign-up"><button class="sign-up-btn"><b>Sign up</b></button></a></li>
            <li style="color: white;font-size: 1.5rem;">|</li>
            <li><a routerLink="/sign-in" class="sign-in"><b>Sign in</b></a></li>
        </ul>
    </nav>
</header>