<div class="form-container" [formGroup]="signUpForm" (ngSubmit)="handleSignUp()">
    <form class="sign-up-form">
        <h2>Sign Up</h2>

        <label for="name">Name:
            <input type="text" id="name" formControlName="name" placeholder="Enter your name"></label>

        <label for="surename">Surename:
            <input type="text" id="surename" formControlName="surename" placeholder="Enter your surename"></label>

        <label for="username">Username:
        <input type="text" id="username" formControlName="username" placeholder="Enter your username"></label>

        <label for="email">Email:
        <input type="email" id="email" formControlName="email" placeholder="Enter your email"></label>

        <label for="password">Password:
        <input type="password" id="password" formControlName="password" placeholder="Enter your password"></label>

        <label for="confirm-password">Confirm Password:
        <input type="password" id="confirm-password" placeholder="Confirm your password"></label>

        <button type="submit" class="submit-btn" [disabled]="!signUpForm.valid">Submit</button>
    </form>
</div>