*{
    font-family: 'Roboto', sans-serif;
}

/* Sign Up Form styles */
.sign-in-form {
    background-color: var(--highlight-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-accent-color);
    width: 320px; /* Similar square-like shape */
    height: auto;
}

.container h2 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.sign-in-form input:focus {
    border-color: var(--secondary-color);
}

/* Submit Button */
.submit-btn {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(46, 113, 103, 0.1);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:disabled{
    border-color: var(--dark-accent-color);
    color: var(--dark-accent-color);
}

.submit-btn:hover {
    background-color: var(--secondary-color);
    color: var(--highlight-color);
    border-color: var(--secondary-color);
}